---
import info from "../data/info.yml";
import skills from "../data/skills.yml";
import experience from "../data/experience.yml";

import Skill from "../components/skill.astro";
import Experience from "../components/experience.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{info.name}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>{info.name}</h1>
        <p>{info.title}</p>
      </header>
      <section class="profile">
        <h2>Profile</h2>
        <p>
          {info.profile}
        </p>
      </section>
      <section class="experience">
        <h2>Experience</h2>

        <div class="experiences">
          {experience.map((x: any) => <Experience {...x} />)}
        </div>
      </section>
      <section class="education">
        <h2>Education</h2>
        <ul>
          <li>
            <h3>Bachelor of Science in Computer Science, Cum Laude</h3>
            <p>Ryazan University of Technology, 1996 - 2001</p>
          </li>
        </ul>
      </section>
      <section class="skills">
        <h2>Skills</h2>
        <div class="skills">
          {skills.map((x: any) => <Skill {...x} />)}
        </div>
        <section class="contact">
          <h2>Contact</h2>
          <p>
            Email: <a href={`mailto:${info.email}`}>{info.email}</a>
          </p>
          <p>Phone: <a href={`tel:${info.phone}`}>{info.phone}</a></p>
        </section>
      </section>
    </div>
  </body>
</html>
