---
import info from "../data/info.yml";
import skills from "../data/skills.yml";
import experience from "../data/experience.yml";

import Skill from "../components/skill.astro";
import Experience from "../components/experience.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{info.name}</title>
    <link rel="stylesheet" href="stylesnew.css" />
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="contact-info">
          <h1>{info.name}</h1>
          <p class="description">{info.title}</p>
          <p>
            <a href={`tel:${info.phone}`}>{info.phone}</a>
            | <a href={`mailto:${info.email}`}>{info.email}</a>
            | LinkedIn
          </p>
          <p class="motto">{info.motto}</p>
        </div>
        <div class="photo">
          <img src="photo.jpg" alt="Photo" />
        </div>
        <section class="profile">
          <p>
            {info.profile}
          </p>
        </section>
      </header>
      <main>
        <section class="skills">
          <div>
            {skills.map((x: any) => <Skill {...x} />)}
          </div>
        </section>
        <section class="experience">
          <h2>Experience</h2>

          <div class="experiences">
            {experience.map((x: any) => <Experience {...x} />)}
          </div>
        </section>
        <section class="education">
          <h2>Education</h2>
          <ul>
            <li>
              <h3>Master of Science in Automation</h3>
              <p>
                Ryazan University of Technology, 1996 - 2001, diploma cum laude
              </p>
            </li>
          </ul>
        </section>
      </main>
    </div>
  </body>
</html>
